<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Everyonces_awards"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Makeawards" android:label="어워즈만들기"></activity>
        <activity android:name=".Makeprize" android:label="상만들기"></activity>
        <activity android:name=".Inputawards" android:label="어워즈입력"></activity>
        <activity android:name=".Resultawards" android:label="어워즈결과"></activity>
        <activity android:name=".Share" android:label="공유하기"></activity>
        <activity android:name=".Resultprize" android:label="공유하기"></activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.everyonces_awards.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    <service android:name=".MusicService" android:enabled="true"/>
    </application>

</manifest>